@import url('../../../assets/theme.css');

.feedActionBanner {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.95);
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.action {
  border: none;
  padding: 0;
  margin: auto 16px;
  color: var(--primaryColor);
  line-height: 19px;
  background-color: rgba(255, 255, 255, 0.95);
}
