@import url('../../../assets/theme.css');

.icon {
  width: 36px;
  height: 36px;
  color: var(--backgroundColor);
  background: var(--primaryColor);
  border-radius: var(--borderRadius);
  border: none;
}