@import url('../../../assets/theme.css');

.button {
  border: 1px solid transparent;
  border-radius: var(--borderRadius);
  outline: none;
}

.button.small {
  border: none;
}

.button.small:hover:not(:disabled) {
  cursor: pointer;
}

.button:hover:not(:disabled),.button.small {
  box-shadow: 0 2px 6px rgba(45, 45, 46, 0.25);
}

.icon {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon:hover {
  box-shadow: none;
}

.primary {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

.primary:hover {
  background-color: #2EA4FF;
}

.primary:active {
  background-color: #2583CC;
}

.primary:focus {
  outline: 1px solid var(--primaryColor);
  border: 1px solid var(--backgroundColor);
}

.primary:disabled {
  background-color: var(--gray10);
  color: var(--disabledTextColor);
}

.secondary {
  background-color: var(--backgroundColor);
  border-color: var(--gray30);
  color: var(--primaryColor);
}

.tertiary {
  background-color: var(--tertiaryColor);
  border-color: var(--gray80);
  color: var(--backgroundColor);
}

.default.primary, .default.secondary, .default.tertiary { 
  padding: 9px 24px;
  font-size: 16px;
  line-height: 20px;
}

.small.primary, .small.secondary, .small.tertiary {
  font-size: 12.8px;
  line-height: 16px;
  padding: 6px 16px 8px 16px;
}