@import url('../../../assets/theme.css');

.icon {
  width: 36px;
  height: 36px;
  color: var(--backgroundColor);
  background: var(--primaryColor);
  border-radius: var(--borderRadius);
  border: none;
}

.arrow {
  width: 16px;
  margin: 2px auto 0 auto;
}

.default {
  height: 36px;
  padding: 8px 16px;
  border-radius: 2px;
  border: solid 1px #d8d8d9;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
