@import url('../../assets/theme.css');

.background {
  background-color: rgba(255, 255, 255, 0.95);
  width: calc(100% - 56px);
  left: 0;
  bottom: 0;
}

:root {
  --wrapper: {
    background-color: rgb(255, 255, 255);
    min-height: 36px;
    margin: 8px 8px 8px 8px;
    padding: 6px 6px 6px 24px;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    touch-action: none;
  }
}

.default {
  @apply --wrapper;
  border: 1px solid transparent;
  background-color: var(--disabledColor);
}

.focused {
  @apply --wrapper;
  border: 1px solid var(--primaryColor);
}

.sendMessage {
  width: 36px;
  height: 36px;
  color: var(--backgroundColor);
  background: var(--primaryColor);
}

.sendMessage:disabled {
  z-index: -1;
}

.sendMessage svg {
  width: 16px;
  margin: auto;
}