@import url('../../assets/theme.css');

.banner {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  z-index: 2;
  width: 100%;
  animation-name: slideOpen;
  animation-duration: .5s;
  transition: transform .5s var(--ease-out);
  min-height: 48px;
}

.message {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.closeBannerButton {
  background: none;
  width: 32px;
  height: 32px;
  margin: 8px 6px 8px 6px;
}

.closeBannerButton svg {
  width: 12px;
  height: 12px;
  padding: 10px;
}

@keyframes slideOpen {
  from {transform: translateY(-100%)}
  to {transform: translateY(0%)}
}