@import url('../../assets/theme.css');

.banner {
  color: var(--backgroundColor);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  z-index: 2;
  width: 100%;
  animation: 300ms var(--ease-out) 0ms slideOpen;
  min-height: 48px;
}

.message {
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}

.closeBannerButton {
  background: none;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

button.closeBannerButton:hover:not(:disabled) {
  box-shadow: none;
}

.closeBannerButton svg {
  width: 20px;
  opacity: 0.5;
}

.closeBannerButton:active svg {
  opacity: 1;
}

@keyframes slideOpen {
  from {transform: translateY(-100%)}
  to {transform: translateY(0%)}
}