@import url('../../assets/theme.css');

:root {
  --anchorMoment: {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--gray5);
  }
}

.anchored {
  @apply --anchorMoment;
  width: 100%;
}

.released {
  @apply --anchorMoment;
}

.releaseAnchorButton {
  border: none;
  background-color: inherit;
  padding-right: 23.5px;
  padding-left: 22.5px;
}

.withoutButton {
  margin-left: 16px;
}

.releaseAnchorButton svg {
  width: 11px;
}

.text,
.subText {
  line-height: 20px;
}

.subText {
  color: var(--disabledTextColor);
  font-size: 12.8px;
}
