@import '../../../assets/theme.css';

:root {
  --button: {
    line-height: 0;
    padding: 0 8px;
    border: none;
    background-color: #fff;
  };
}

.message {
  width: 100%;
  min-height: 40px;
  display: flex;
  background: #fff;
  overflow: hidden;
  padding: 8px 0 8px;
  transition: opacity var(--animation-duration) var(--ease-in-out);
}

.wrapper {
  display: flex;
  align-items: center;
}

.body {
  flex: 1;
  margin: 1px 8px 0;
  color: var(--textColor);
}

.name {
  font-weight: bold;
  font-size: 13.44px;
  line-height: 1.25;
}

.role {
  color: white;
  background-color: var(--disabledTextColor);
  border-radius: 12px;
  font-size: 10.24px;
  text-align: center;
  line-height: 13px;
  padding: 0 5px 0;
  display: inline-block;
  position: relative;
  bottom: 1px;
  left: 4px;
}

/* ":last-child" seems a little dangerous. I don't know of a way to target the specific tray by name. -Eric */
.messageTrayOpen > :last-child {
  transition: right var(--animation-duration) var(--ease-in-out);
  right: 0;
}

/* ":last-child" seems a little dangerous. I don't know of a way to target the specific tray by name. -Eric */
.messageTrayClosed > :last-child {
  transition: right var(--animation-duration) var(--ease-in-out);
  right: -300px;
}

.messageTrayOpen .message {
  opacity: 0.25;
}

.openTrayButton {
  @apply --button;
  outline-style: none;
}

.openTrayButton svg {
  width: 15px;
}

.text {
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}

