@import '../../../assets/theme.css';

:root {
  --button: {
    line-height: 0;
    padding: 0 8px;
    border: none;
    background-color: #fff;
  };

  --message: {
    width: 100%;
    min-height: 40px;
    display: flex;
    background: #fff;
    overflow: hidden;
    padding: 8px 0 8px;
    transition: transform var(--animation-duration);
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.body {
  flex: 1;
  margin: 1px 8px 0;
  color: var(--textColor);
}

.name {
  font-weight: bold;
  font-size: 13.44px;
  line-height: 1.25;
}

.role {
  color: white;
  background-color: var(--disabledTextColor);
  border-radius: 12px;
  font-size: 10.24px;
  text-align: center;
  line-height: 1.25;
  padding: 0 5px 1px;
  display: inline-block;
  position: relative;
  bottom: 1px;
  left: 4px;
}

.moveMessageLeft {
  @apply --message;
  transition-timing-function: var(--ease-out);
  transform: translateX(-258px);
}

.moveMessageRight {
  @apply --message;
  transition-timing-function: var(--ease-in);
  transform: translateX(0);
}

.closeTrayButton,
.openTrayButton {
  @apply --button;
  outline-style: none;
}

.closeTrayButton {
  padding: 0 24px;
}

.closeTrayButton svg {
  width: 8px;
}

.openTrayButton svg {
  width: 15px;
}

.text {
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}

