@import '../../../assets/theme.css';

:root {
  --wrapper: {
    margin: 8px 0;
    position: relative;
    min-height: 54px;
    display: flex;
  }

  --button {
    line-height: 0;
    padding: 0 8px;
    border: none;
    background-color: #fff;
  }

  --message {
    width: 100%;
    min-height: 56px;
    display: flex;
    background: #fff;
    overflow: hidden;
    transition: transform var(--animation-duration);
  }
}

.icon {
  border-radius: var(--borderRadius);
  height: 36px;
  width: 36px;
  color: var(--backgroundColor);
  text-align: center;
  line-height: 36px;
}

.body {
  flex: 1;
  margin: 0 8px;
}

.name {
  font-weight: bold;
  font-size: 13px;
}

.role {
  color: var(--disabledTextColor);
  border: 1px solid var(--disabledTextColor);
  border-radius: 12px;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  padding: 0 4px 0 4px;
  display: inline-block;
  position: relative;
  bottom: 2px;
  left: 4px;
}

.moveMessageLeft {
  @apply --message;
  transition-timing-function: var(--ease-out);
  transform: translateX(-249px);
}

.moveMessageRight {
  @apply --message;
  transition-timing-function: var(--ease-in);
  transform: translateX(0);
}

.closeTrayButton,
.openTrayButton {
  @apply --button;
}

.closeTrayButton {
  padding: 0 24px;
}

.closeTrayButton svg {
  width: 8px;
}

.openTrayButton svg {
  width: 15px;
}

.text {
  line-height: 19.2px;
  word-break: break-all;
}

