@import url('../../assets/theme.css');

:root {
  --wrapper {
    display: flex;
    flex: 1;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.withPlaceholder {
  @apply --wrapper;
  margin: 0 8px 60px;
}

.withoutPlaceholder {
  @apply --wrapper;
  margin: 0 8px 8px;
}

.feed {
  margin: 0;
  background-color: #fff;
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}
