@import url('../../assets/theme.css');

:root {
  --link: {
    color: var(--primaryColor);
    text-decoration: none;
  }
}

.guestLink {
  @apply --link;
  margin-bottom: 24px;
}

.feedbackLink {
  @apply --link;
  margin-bottom: 16px;
}

.externalLinkIcon {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}
