@import url('../../assets/theme.css');

.login {
  padding: 2rem;
}

.login h1 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.login button {
  width: 97px;
}