@import url('../../../assets/theme.css');

.inputField {
  padding-bottom: 16px;
}

.inputField label {
  display: inline-block;
  font-weight: 500;
  font-size: 0.85rem;
  width: 100%;
  margin-bottom: 2px;
}

.inputField input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--gray30);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  outline: none;
}

.inputField input:focus {
  border-color: var(--primaryColor);
  box-shadow: 0 0 0 0.1rem rgba(41,147,229,.25)
}

.chat {
  border: none;
  color: var(--textColor);
  height: 24px;
  flex: 1;
  background-color: transparent;
  outline: none;
  padding: 0px;
  margin: 0 8px 0 0;
}

.chat::placeholder {
  color: var(--disabledTextColor);
}
