@import url('../../../assets/theme.css');

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 6px 8px 0;
  width: 48px;
  height: 48px;
}

.reactionButton svg {
  width: 29px;
}

.reactionButton:active svg {
  width: 34px;
}

.reactionButton {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  outline-style: none;
}
