@import url('../../assets/theme.css');

:root {
  --wrapper: {
    transition: flex 300ms;
    max-height: 281px;
    overflow: hidden;
    display: flex;
  }
}

.showVideo {
  @apply --wrapper;
  flex: 1;
}

.hideVideo {
  @apply --wrapper;
  flex: 0;
}

.frame {
  width: 100%;
}