@import url('../../assets/theme.css');

:root {
  --wrapper: {
    overflow: hidden;
    display: flex;
    flex-basis: auto;
    height: auto;
    background-color: #1e1f23;
  }
}

.showVideo {
  @apply --wrapper;
  flex: 1;
  transition-timing-function: var(--ease-in);
  transition: flex var(--animation-duration);
}

.hideVideo {
  @apply --wrapper;
  flex: 0;
  transition-timing-function: var(--ease-out);
  transition: flex var(--animation-duration);
}

.frame {
  width: 100%;
}

@media only screen and (min-width: 720px) {
  .frame {
    max-width: 720px;
    margin: 0 auto 0 auto;
  }
}

