@import url('../../assets/theme.css');

:root {
  --wrapper: {
    position: relative;
    background-color: black;
  }
}

.showVideo {
  @apply --wrapper;
  transition-timing-function: var(--ease-in);
  transition: flex var(--animation-duration);
}

.hideVideo {
  @apply --wrapper;
  transition-timing-function: var(--ease-out);
  transition: flex var(--animation-duration);
}

.frame {
  /* This defines the maximum size for the video. */
  /* 455x256, 356x200, 320x180, 256x144 are 16:9 ratios. */
  /* YouTube's embed API "requires" 200 pixels minimum. */
  /* Keep this width value always equal to the max-width 
     selector below, so it is smooth when resizing. */
  width: 455px;
  height:256px;
  display: block;
  margin: 0 auto 0 auto;
}

/* THIN SCREENS: image is full width, height is proportional.  */
/* This max-width should always match the width in the standard variant above. */
@media only screen and (max-width: 455px) {
  .showVideo {
    padding-bottom: 56vw;  /* Leaves space for a 16:9 image under any other content */
  }
  .frame { /* Place the video in the padding defined just above. */
    position: absolute;
    width: 100%;
    height: 56vw;  /* this keeps it 16:9 */
    left: 0;
    bottom: 0;
  }
}

/* SHORT SCREENS: hide the video. */
@media only screen and (max-height: 400px) {
  .showVideo {
    padding-bottom: 0;
  }
  .frame {
    display: none;
  }
}
