:root {
  /* Colors */
  --primaryColor:      #2993e5;
  --disabledColor:     #f5f5f3;
  --backgroundColor:   #ffffff;
  --textColor:         #404041;
  --disabledTextColor: #9f9fa0;
  --borderRadius:      24px;
}