@import url('../notification/style');

.actionableWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.actionableNotification {
  @apply --notification;
  padding: 8px 0;
}

.actionableNotification .actionableWrapper {
  border: 1px solid #ECECEC;
  border-radius: 2px;
  padding: 4px 0;
}

.acceptButton {
  color: var(--primaryColor);
  border: none;
  margin-right: 8px;
  padding: 8px;
  background-color: transparent;
  font-weight: 500;
}

.showText {
  display: initial;
  font-size: 16px;
  margin-right: 16px;
}

.hideText {
  display: none;
}
