@import url('../../assets/theme.css');

.container {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.text,
.languageSelector,
.caret {
  display: inline-block;
  color: var(--disabledTextColor);
}

.languageSelector {
  padding-left: 8px;
  padding-right: 32px;
  margin-left: 8px;
  border: 1px solid #C6C6C6;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  -webkit-appearance: none;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  position: relative
}

.dropdownContainer:after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--disabledTextColor);
  right: 6px;
  position: absolute;
}
