@import url('../../../assets/theme.css');

:root {
  --base: {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--textColor);
    overflow-x: scroll;
  };

  --menu: {
    @apply --base;
    width: calc(100% - 56px);
    max-width:400px;
    z-index: 6;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    background-color: var(--backgroundColor);
    transition: transform var(--animation-duration);
    will-change: transform;
  };

  --overlay: {
    @apply --base;
    background-color: rgba(30, 31, 35, 0.75);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 5;
  }
}

.overlayOpen {
  @apply --overlay;
  transition: opacity var(--animation-duration) var(--ease-out);

  transform: translateX(0px);
  opacity: 1;
}

.overlayClosed {
  @apply --overlay;
  transition: opacity var(--animation-duration) var(--ease-in), transform var(--animation-duration) step-end;

  transform: translateX(-100%);
  opacity: 0;
}

.menuOpen {
  @apply --menu;
  transform: translateX(0px);
  transition-timing-function: var(--ease-out);
}

.menuClosed {
  @apply --menu;
  transform: translateX(-100%);
  transition-timing-function: var(--ease-in);
}
