@import url('../../../assets/theme.css');

:root {
  --notification: {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1.25;
    font-size: 13.44px;
    color: var(--disabledTextColor);
  }
}

.notification {
  @apply --notification;
}

.icon {
  line-height: 0;
}

.icon svg {
  width: 20px;
  padding: 8px 18px 8px 10px;

}

.timestamp {
  font-size: 10.72px;
  margin-top: 2px;
}

.text {
  width: 100%;
  padding: 8px 8px 8px 0;
}
