@import '../../assets/theme.css';

.icon {
  border-radius: var(--borderRadius);
  height: 40px;
  width: 40px;
  color: var(--backgroundColor);
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}