.wrapper {
  position: fixed;
  height: 100%; /* This gets overridden sometimes. Don't use 100vh as that acts differently. */
  width: 100%;
}

.chop {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.inputs {
  position: relative;
  width: 100%;
}
