@import url('../../../assets/theme.css');


:root {
  --animation-time: 2.3s; 
}

.animate {
  animation-name: moveFade;
  animation-duration: var(--animation-time);
  animation-timing-function: ease-out;
}

@keyframes moveFade {
  from {opacity: 1; transform: translateY(26px)}
  to {opacity: 0; transform: translateY(-270px)}
}

/* Get ease-out transition */
