@import url('../../../assets/theme.css');

:root {
  --button: {
    font-size: 13.44px;
    font-weight: 500;
    color: var(--primaryColor);
    border: none;
    outline: none;
    background-color: inherit;
    flex-grow: 1;
  }
}

.tray {
  position: absolute;
  right: 0;
  display: flex;
  background-color: var(--disabledColor);
  height: 56px;
  width: 249px;
  margin: 0 8px 0;
}

.directChatButton,
.deleteButton,
.muteButton,
.closeMessageTray {
  @apply --button;
}

.muteButton {
  color: var(--dangerTextColor);
}

.directChatImage svg,
.muteImage svg {
  width: 20px;
}

.deleteImage svg {
  width: 20px;
}
