@import url('../../../assets/theme.css');

:root {
  --button {
    font-size: 13px;
    color: var(--primaryColor);
    border: none;
    background-color: inherit;
    flex-grow: 1;
  }
}

.messageTray {
  background-color: var(--disabledColor);
  display: flex;
  width: 100%;
  height: 54px;
}

.directChatButton,
.deleteButton,
.muteButton,
.closeMessageTray {
  @apply --button;
}

.muteButton {
  color: var(--dangerTextColor);
}

.closeMessageTray {
  background-color: #fff;
  width: 49px;
  height: 100%;
  flex-grow: 0;
}

.directChatImage svg,
.muteImage svg {
  width: 15px;
}

.deleteImage svg {
  width: 13px;
}

.closeTrayImage svg {
  width: 8px;
}
