@import url('../../../assets/theme.css');

:root {
  --button: {
    font-size: 13.44px;
    font-weight: 500;
    color: var(--primaryColor);
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    padding: 0;
  }
}

.tray {
  position: absolute;
  right: 0;
  display: flex;
  background-color: var(--disabledColor);
  height: 56px;
  width: 300px;
  border-radius: 2px 0 0 2px;
  padding-right: 12px;
  box-sizing: border-box;
}

.directChatButton,
.deleteButton,
.muteButton,
.closeButton {
  @apply --button;
}

.muteButton {
  color: var(--dangerTextColor);
}

.directChatImage svg,
.muteImage svg,
.deleteImage svg,
.closeImage svg {
  width: 20px;
}


.directChatButton:active,
.deleteButton:active,
.muteButton:active {
  opacity: 0.5;
}

.closeButton {
  line-height: 0;
  padding: 0 8px;
}

.closeButton div {
  display: none;
}
