@import '../../../assets/theme.css';

.wrapper {
  display: flex;
  margin-top: 18px;
  animation-duration: 300ms;
  animation-name: message-slide;
}

@keyframes message-slide {
  from {
    margin-bottom: -100%;
  }
  to {
    margin-bottom: 0%;
  }
}

.icon {
  border-radius: var(--borderRadius);
  height: 36px;
  width: 36px;
  color: var(--backgroundColor);
  text-align: center;
  line-height: 36px;
}

.body {
  flex: 1;
  margin: 0 8px;
}

.name {
  font-weight: bold;
  font-size: 13px;
}

.role {
  color: var(--disabledTextColor);
  border: 1px solid var(--disabledTextColor);
  border-radius: 12px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  width: 38px;
  height: 15px;
  display: inline-block;
  position: relative;
  bottom: 2px;
  left: 2px;
}